{% load marks %}
<html>
	<head>
		<style>
			.header{
				box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
			    background: #dee0e4 !important;
			    height:60px;
			}
			.admin-table {
				margin: 0 auto;
				margin-top: 30px;
				width: 80%;
				text-align: center;
			}
			.admin-table tr {
				line-height: 30px;
			}
			.admin-table thead {
				background-color: #baadc3;
			}
		</style>
	</head>
	<body>
		<nav class="header">
			<div><h3 style="float:right;margin-right:51px; color: #300c4a;text-decoration: none;"><a href="/logout">Logout</a></h3></div>
		</nav>
		<table class="admin-table">
			<thead>
				<tr>
				<th>S.No</th>
				<th>Students Name</th>
				{% for subject in subjects %}
					<th>{{subject.subject}}</th>
				{% endfor %}
				<th>Total</th>
				<th>Rank</th>
				</tr>
			</thead>
			<tbody>	
				{% for student in students %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{student.name}}</td>		
					{% for subject in subjects %}
						<td>{{ student.id |marks:subject.id }}</td>
					{% endfor %}
					<td>{{student.total}}</td>
					<td>{{student.rank}}</td>
				</tr>	
				{% endfor %}
			</tbody>		
		</table>
	</body>	
</html>