{% load marks %}
<html>
	<head>
		<style>
			.header{
				box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
			    background: #dee0e4 !important;
			    height:60px;
			}
			.dash-table {
				margin: 0 auto;
				margin-top: 30px;
				width: 80%;
				text-align: center;
			}
			.dash-table tr {
				line-height: 30px;
			}
			.dash-table thead {
				background-color: #baadc3;
			}
			input {
				    width: 70px;
				    border-radius: 5px;
				    text-align: center;
				    height: 30px;
			}
			.submit-btn {
			    background-color: #baadc3;
			    border: 1px solid #baadc3;
			    border-radius: 6px;
			    font-family: 'Quicksand', sans-serif;
			    text-align: center;
			    margin-top: 30px;
			}
		</style>
	</head>
	<body>
		<nav class="header">
			<div><h4 style="float:right;margin-right:51px;"><a href="/logout">Logout</a></h1></div>
		</nav>
		<form method="POST" action="." class="mark_list">
		{% csrf_token %}
		<table class="dash-table">
		<thead>
			<tr>
			<th>S.No</th>
			<th>Student</th>
			<th>Mark</th>
			</tr>
		</thead>
		<tbody>
			{% for i in students %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{i.name}}</td>
				<td><input type="number" name="marks_{{i.id}}" value="{{ i.id |marks:subject_id }}" required></td>	
			</tr>		
			{% endfor%}
			<tr><td></td><td></td><td><input type="submit" value="Submit" class="submit-btn"></td></tr>
		</tbody>	

		</table>
		</form>
	</body>
</html>