<html>
    <head>
        <style>
            .main-panel{
            	max-width: 370px;
                margin: 0 auto;
                padding: 30px;
                background-color: #fff;
                box-shadow: 0 0 10px 0 rgba(154,154,154,0.46);
                margin-top: 160px;
            }
            .submit-btn{
            	-webkit-appearance: none !important;
                padding: 6px 25px;
                background-color: #dee0e4;
                border: 1px solid #dee0e4;
                border-radius: 6px;
                color: #000;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                font-weight: 550;
                line-height: 25px;
            }
            .main-body{
            	background-color: #dee0e4 !important;
            }
            .form-panel{
            	text-align: center !important;
            }
            .form-heading {
                text-align: center;
                color: #6d6e6f;
            }
            label {
                float: left !important;
                color: #6d6e6f !important;
                margin-right: 10px !important;
                font-size: 18px;
            }
            input {
                width: 370px;
                height: 40px;
                display: block;
                font-weight: 500px !important;
                font-size: 18px;
                margin: 0 auto;
                color: #6d6e6f;
                border-radius: 6px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body class="main-body">
        <div class="main-panel">
            <h3 class="form-heading">Login</h3>
            <form method="post" class="form-panel">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="submit-btn">Login</button>
            </form>
        </div>
    </body>
</html>